<!-- app.component.html -->

<div id=parent>
  <h2 class="container">Binding Practice</h2>
  <div class="container">
     <p [ngClass]="{'styled-paragraph': isStyled}" [style.font-size.px]="fontSize" [style.font-weight]="fontWeight">
       This is a paragraph with font-size: {{ fontSize }} and font-weight: {{ fontWeight }}.
     </p>
     <button (click)="applyStyles()" type="button" id="stylebutton">Apply Styles</button>
  </div>
  <div class="container">
     <app-input-section (nameChange)="updateWelcomeMessage($event)"></app-input-section>
     <p id="msgp" *ngIf="welcomeMessage">Welcome, {{ welcomeMessage }}!</p>
  </div>
</div>
